.header{
    background-image:url(../Assets/Hero-bg.png) ;
    height: 500px;
    max-width: 1440px;
    margin: 0 auto;
}


.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
     max-width: 1140px;
     margin: 0 auto;
     height: 151px;

}
.navber button{
    height: 48px;
    width:132px ;
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
}
.navber h1{
    color:#4E47FF ;

}
 

  .banner{
    text-align: center;
    padding-top: 60px;
    width: 900px;
    height:230px;
    margin: 0 auto;
  }
  .banner button {        
     
      height: 48px;
    width: 174px;
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;}

    
    /* banner section */

    main{
        height: 328px;
        max-width: 1140px;
         margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }


    main div button{
        width: 230px;
        height: 48px;
        color:#FFFFFF ;
        background-color: #4E47FF;
        border-radius: 10px;
        border: none;

    }
    main div h2{
        width: 517px;
        height: 49px;
        color: red
       
    }
    main div p{
        width:517px ;
        height:60px ;
        color: #252432;
          font-size: 23px;
    }

    .leftsection{
         
        width: 48%;
         

    }
    .rightsection{
        border: 1px solid blue;
         width: 48%;
         height: 250px;
         max-width: 403px;
         border-radius: 10px;
    }

   /* footer */
   .section-title{

    font-size: 38px;
    font-weight:  400px;
    color:white;


   }
   .secondary-bg{
    background-color: #4E47FF;
     max-width:  1140px;
    height: 306px;
    margin: 0 auto;
     border-radius: 24px;
       text-align: center;
      padding: 20px 30px ;
   
     
     
   }


   
   
     

   


   /* about style */
   .about{
    
     
   }
   .about-items{
    display: flex;
    justify-content:space-around;
    align-items: center;
   



    
    
   }
   .about-item{
    width: 180px;
    height: 120px;
     text-align: center;
     margin: o auto;
     
   }


   .item-title{
    font-size: 20px;
     
     
    color: chartreuse;
    
   }
   

   .item-description{
    font-size: 80px;
    align-items: center;

   }

/* card section here */
    .parent-div{
        
        max-width: 1140px;
        margin: 30px auto;
        display: flex;
        gap: 20px;
        
    }
   .child-div{
     border: 2px solid green;
    height: 243px;
      
     padding: 15px;
    background-color: #FFFFFF;
    border-radius: 14px;

   }
 .child-div img{
    width: 20px;
    height: 20px;
    margin: ;
 }
 
  
 
   